body {
    background-image: url(assets/images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.mainbox {
    background-color: white;
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif;
    padding: 20px;
    text-align: center;
}

p {
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.plan-card {
    background-color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.plan-type {
    font-weight: bold;
    color: #1c1c1c;
    margin: 0;
}

.plan-price {
    color: #888888;
    margin: 0;
}

.change-link {
    color: #4a4aed;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto;
}

.change-link:hover {
    text-decoration: underline;
}

.btn {
    height: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    margin-top: 50px;
    padding: 10px 20px;
    width: 89%;
}

.btn-primary {
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: lightskyblue;
}

.btn-primary:active {
    transform: translateY(2px);
}

.btn-secondary {
    background-color: white;
    color: gray;
    font-size: 18px;
}

.btn-secondary:hover {
    background-color: white;
    color: black;
}

.btn-secondary:active {
    transform: translateY(2px);
}
